/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  height: 100%;
}

.calculator__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 90%;
  border: 1px solid green;
}
.calculator__controls {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 20px;
}
.window-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
}
.window-btn--close {
  background-color: #ff6059;
}
.window-btn--minsize {
  background-color: #febc31;
}
.window-btn--maxsize {
  background-color: #2ac843;
}

.display {
  height: 20%;
  padding: 20px;
  border: 1px solid red;
  font-size: 100px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-wrap: wrap;   
  height: 80%;
  border: 1px solid blue;
}

.button {
  width: calc(100% / 4);
  height: calc(100% / 5);
  background-color: #efefef;
  cursor: pointer;
  font-size: 30px;
}
.zero{
  width: 50%;
}

.button:hover{
  background-color: #e2e2e2;
}
.button:active{
  background-color: #5030e3;
  color: #fff;
}