@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@font-face {
  font-family: "Segment7Standard";
  src: url("./Segment7Standard.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  height: 100%;
}

body {
  position: relative;
  background: url("img_mac-desktop.jpg") no-repeat center center/cover;
  height: 100vh;
}

button {
  border: 0;
}

.dock-icon {
  background: #f1ccd7;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
  /* display: none; */
  left: 20px;
  top: 50px;
  border-radius: 30px;
  border: 4px solid #e2b3c6;
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  /* align-items: center; */
  justify-content: space-between;
}

.icon {
  width: 30px;
  height: 30px;
  background: #d0f0ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 60%;
  height: 60%;
}
.icon.equl {
  background: #ff9d3f;
}

.calculator__container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: grab;
}
.calculator__container.active {
  display: block;
  cursor: grabbing;
}
.window-btn--close {
  cursor: pointer;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  height: 900px;
  background-color: #f8cad7;
  border-radius: 70px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.1);
}

.calculator__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: grab;
}
.calculator__container.dragging {
  cursor: grabbing;
}

.calculator__display {
  padding: 25px 20px;
  border-radius: 50px;
  background-color: #ebb1c7;
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}
.calculator__controls {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 0 20px 20px 10px;
}
.display__wrap {
  background-color: #cdcfcc;
  border: 2px solid #ccc;
  color: #333;
  font-family: "Segment7Standard";
  border-radius: 20px;
  padding: 15px;
  height: 153px;
}
.display__container {
  box-shadow: inset 8px -5px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  background-color: #9ea39d;
  padding-top: 10px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.display {
  font-size: 100px;
  text-align: right;
}
.window-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}
.window-btn--close {
  background-color: #ff6059;
}
.window-btn--minsize {
  background-color: #febc31;
}
.window-btn--maxsize {
  background-color: #2ac843;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
  column-gap: 15px;
  padding: 20px;
  background: #f7c1cf;
  border-radius: 70px;
  box-shadow: inset 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}

.button {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  font-size: 30px;
  color: #00000094;
  background-color: #d0f0ff;
  transform-style: preserve-3d;
  width: calc((100% / 4) - 20px);
  height: calc((100% / 5) - 25px);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
  font-family: "Orbitron", sans-serif;
}

.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 102%;
  top: 2px;
  left: -3px;
  right: 0;
  bottom: 0;
  background: #b6cbdc;
  border-radius: inherit;
  box-shadow: 0px 0px 0 1px #606060;
  transform: translate3d(0em, 0.02em, -1em);
  transition: left 150ms cubic-bezier(0, 0, 0.58, 1);
}

.function {
  background-color: #f4eda9;
}

.operator {
  background-color: #e8d4df;
}
.zero {
  width: calc(50% - 20px);
  border-radius: 40px;
}

.button:hover {
  /* transform: translate(0, 0.25em); */
}

/* .button:hover::before {
  left: -1px;
} */

/* .button:active {
  background-color: #5030e3;
  color: #fff;
} */

/* 숫자 버튼 */
.button.number,
.button.equal-btn {
  box-shadow: inset -5px 6px 6px #f6f6fe, 1px 20px 12px rgba(0, 0, 0, 0.5);
}
.button.function {
  box-shadow: inset -5px 6px 6px #fff6d2, 1px 20px 12px rgba(0, 0, 0, 0.5);
}
.button.operator {
  box-shadow: inset -5px 6px 6px #ffe8f2, 1px 20px 12px rgba(0, 0, 0, 0.5);
}
.button.clear-btn {
  background-color: #ff9d3f;
  box-shadow: inset -5px 6px 6px #ffb85b, 1px 20px 12px rgba(0, 0, 0, 0.5);
}

.button.function:before {
  background: #fadca8;
}
.button.operator::before {
  background: #c5b4c6;
}

.button.clear-btn::before {
  background-color: #ffae7f;
}

.button:active {
  transform: translate(0, 0.25em);
  /* background-color: #333;
  color: #fff; */
}

.button:active::before {
  left: -1px;
}
